* {
  margin: 0;
  padding: 0;
}
p {
  font-family: "Poppins";
  font-size: 14px;
}
.image {
  top: 0;
  position: relative;
  margin-top: 0px;
  width: 100%;
}
.aboutUsHome {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 50px 30px;
}
.aboutUsImg img {
  width: 350px;
  height: 350px;
  margin-left: 80px;
}
.aboutUsInfo {
  text-align: center;
  margin: 10px 50px;
  padding: 0px 20px;
}
.aboutUsInfo h3 {
  font-size: 30px;
  font-weight: 600;
}
.aboutUsButton {
  background-color: black;
  color: white;
  padding: 6px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  box-shadow: 2px;
}
.aboutUsButton:hover {
  color: pink;
  text-decoration: none;
  transform: scale(1.1);
}
.aboutUsInfo p {
  font-size: 16px;
}
/* .ourServices,
.bestSeller {
  margin: 0px 10px;
  padding: 30px 10px;
} */
.ourServicesHeading,
.bestSellerHeading {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  padding-top: 70px;
  background-color: rgba(0, 0, 0, 0.534);
  height: 300px;
  color: white;
}
.slider,
.bestSellerSlider {
  z-index: 5;
  margin-top: -160px;
}
.testimonials {
  margin-top: 160px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
}
.testimonialHeading {
  text-align: center;
  margin-bottom: 40px;
  margin-top: -50px;
  font-size: 32px;
  font-weight: 600;
}
.contactUs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px;
  padding: 15px;
  grid-column-gap: 10px;
}
@media screen and (max-width: 960px) {
  .image {
    width: 100%;
  }
}
